{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="{% static 'post/img/sh.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'post/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'post/css/googlecode.css' %}">
    <link rel="stylesheet" href="{% static 'post/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'post/css/style.css' %}">
    <script src="{% static 'post/js/jquery-3.3.1.min.js' %}"></script>

    <script src="{% static 'post/js/highlight.pack.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
    <div class="wrapper">
        <div class="navbar navbar-default navbar-fixed-top">
            {% include 'post/navbar.html' %}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    {% block left %}
                    {% endblock %}
                </div>
                <div class="col-sm-4">
                    {% include 'post/right.html' %}
                </div>
            </div>
        </div>
        <div class="push"></div>
    </div>
    <div class="footer-content">
        <address class="text-center">
            @2019-2010 版权所有
        </address>
    </div>
    {% include 'post/login.html' %}

    <script src="http://cdn.bootcss.com/bootstrap/2.3.1/js/bootstrap-modal.js"></script>
    <script src="{% static 'post/js/bootstrap-collapse.js' %}"></script>

    {% include 'post/back_to_top.html' %}
    {% block script_extend %}
    {% endblock %}
</body>
</html>
