<style type="text/css">
    .blog-title{
        font-size:30px;
        line-height:1.5;
        font-weight:bold;
    }
    .blog-info{
        line-height:1.8;
        color: #9d9d9d;
        font-size:15px;
    }
    .blog-info .label{
        opacity:0.8;
    }
    .blog-content{
        padding-top:15px;
        font-size:15px;
        line-height:1.5;
    }
    .comment-content{
        position:relative;
        padding: 20px 0 10px 0;
        margin: 20px 0 15px 0;
        border-bottom:1px solid #ddd
    }
    .comment-content img{
        top:-15px;
        position:absolute;
        left:0;
        border:4px solid #fff;
        border-radius: 50%;
        vertical-align:middle;
    }
    .comment-content small{
        float:right;
        font-size:12px;
        margin-top:-10px;
        font-style: italic;
    }
    .comment-content .reply{
        float:right;
        margin-top:-10px;
        font-size:12px;
        font-style: italic;
        width:50px;
        border-radius:30px;
        color:#000;
        text-align:center;
    }
    .comment-content .reply:hover{
        background-color: #007bff;
    }

    .comment-content h4{
        font-size:18px;
        margin:-12px 0 35px 90px;
        padding:0;
    }
    .comment-content p{
        margin: 0 0 20px 0;
    }
    .leave-comment{
        margin-bottom:15px;
        background:#86b535;
        font-size:12px;
        color:#fff;
        border:none;
        outline:none;
        transition:0.3s;
        border-radius:20px;
        padding: 7px 15px;
        font-weight:bold;
        font-family:inherit;
    }
    .leave-comment:hover{
        background:#333;
    }

    .django-ckeditor-widget{
        width:100%;
    }
</style>
{% extends 'post/base.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% block title %}
    {{ post.title }}
{% endblock %}
{% block left %}
<h1 class="blog-title">{{ post.title }}</h1>
<div class="blog-info">
    <span>发布于 {{ post.pub_time }}</span>&nbsp;
    <span>0</span>&nbsp;<li class="icon-comment"></li>&nbsp;
    <span>{{ post.views }}</span>&nbsp;<i class="icon-eye-open"></i>&nbsp;
    <label class="label label-info">{{ post.category }}</label>
    {% for tag in post.tags.all %}
        <label class="label label-info">{{ tag }}</label>
    {%  endfor %}
</div>
<div class="blog-content">
    {{ post.body|safe }}
</div>
<button class="leave-comment" >发表评论</button>
<!--{% if request.user.is_authenticated %}-->
    <!--<a href="#loginModal" data-toggle="modal" class="h4">登录</a><span class="h4">后评论</span>-->
<!--{% else %}-->
    <!--<button class="leave-comment" >发表评论</button>-->
<!--{% endif %}-->
<form id="comment-form" action="{% url 'comment:comment' %}" method="POST" style="overflow:hidden;display:none" >
    {% csrf_token %}
    {{ comment_form.media }}
    {% for field in comment_form %}
        {{ field }}
    {% endfor %}
    <span id="comment-error" class="text-danger pull-left"></span>
    <input type="submit" value="发布" class="btn btn-primary pull-right" style="margin-top:5px;">
</form>
<div>
    <h3>共&nbsp;{{ post.comments.count }}&nbsp;条评论</h3>
</div>
<div class="comment-list">
    {% recursetree comments %}
        {% with comment=node %}
            <div class="comment-content {{comment.id }}">
                <img src="{% static 'post/img/sh.ico' %}">
                <a class="reply" href="">回复</a>
                <small>{{ comment.created_time }}</small>
                <h4>{{ comment.user }}</h4>
                {{ comment.content|safe }}
            </div>
        {% endwith %}
    {% endrecursetree %}
</div>

{% endblock %}
{% block script_extend %}
<script>
    $(".leave-comment").click(function(e) {
        $("#comment-form").toggle();
    });
    $('#comment-form').submit(function(){
         $("#comment-error").text("");
         if(CKEDITOR.instances['id_comment_text'].document.getBody().getText().trim()==''){
             $("#comment-error").text('评论内容不能为空');
             return false;
         }
        $.ajax({
            url: "{% url 'comment:comment' %}",
            type: 'POST',
            data: $(this).serialize(),
            cache: false,
            success: function(data) {
                console.log(data);
                if (data['status'] == 'SUCCESS') {
                    var comment_html = '<div class="comment-content ' + data['comment_id'] + '">\n' +
                        '                <img src="/static/post/img/sh.ico">\n' +
                        '                <a class="reply" href="">回复</a>\n' +
                        '                <small>' + data['created_time'] + '</small>\n' +
                        '                <h4>' + data['username'] + '</h4>\n' +
                        '                <p>' + data['content'] + '</p>\n' +
                        '            </div>'
                    $(".comment-list").prepend(comment_html);
                    CKEDITOR.instances['id_comment_text'].setData('');
                }
                else {
                    // $('#comment-error').text(data['message']);
                }
            },
        });
        return false;
     });
</script>
{% endblock %}
