html, body{
    height:100%;
    margin: 0;
}
.wrapper{
    min-height:100%;
    margin-bottom:-50px;
}
.wrapper > .container{
    padding-top:70px;
}
.footer-content, .push{
    height:50px;
}

.list-group .list-group-item{border:none}

.navbar-list li:hover{
    color: #555;
    background-color: #e7e7e7;
}
.navbar-right li:hover{
    background: #337ab7;
    color: #fff;
}
.tag{
    margin: 5px 10px;
    width: 20px;
    font-size:14px;
    height:10px;
}

/*移动端自适应*/
#toggle-checkbox:checked ~ div{
    display: block !important;
}
.toggle-label{
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 15px;
    font-weight: normal;
    color: #777;
}
.toggle-label:hover{
    color: #333;
}

/* 黏性侧边栏 */
.sidebar{
    will-change: min-height;
}
.sidebar__inner{
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
}

/* post-detail */
.blog-title{
    font-size:30px;
    line-height:1.5;
    font-weight:bold;
}
.blog-info{
    line-height:1.8;
    color: #9d9d9d;
    font-size:15px;
}
.blog-info .label{
    opacity:0.8;
}
.blog-content{
    padding-top:15px;
    font-size:15px;
    line-height:1.5;
}

/* comment */
.comment-area{
    padding: 20px 0;
}
.comment-content{
    position:relative;
    padding: 20px 0 10px 0;
    margin: 20px 0 15px 0;
    border-bottom:1px solid #ddd
}
.comment-content img{
    top:-15px;
    border:4px solid #fff;
    border-radius: 50%;
    vertical-align:middle;
}
.comment-content small{
    float:right;
    font-size:12px;
    margin-top:-10px;
    font-style: italic;
}
.comment-content .reply{
    float:right;
    margin-top:-10px;
    font-size:12px;
    font-style: italic;
    width:50px;
    border-radius:30px;
    color:#000;
    text-align:center;
}
.comment-content .reply:hover{
    background-color: #007bff;
}
.comment-content h4{
    font-size:18px;
    margin:-12px 0 35px 90px;
    padding:0;
}
.comment-content p{
    margin: 0 0 20px 0;
}
.reply-content{
    margin-left: 6rem;
    margin-top: 1rem;
}

/* donate */
.donate{
    margin-bottom:15px;
    background:#86b535;
    font-size:12px;
    color:#fff;
    border:none;
    outline:none;
    transition:0.3s;
    border-radius:20px;
    padding: 7px 15px;
    font-weight:bold;
    font-family:inherit;
}
.donate:hover{
    background:#333;
}
.donate-area{
    margin: 15px 10px;
}
.donate-area img{
    width:100%;
    height:200px;
    border: 1px solid;
}

/* ckeditor */
.django-ckeditor-widget{
    width:100%;
}

 /*post_nav */
.post-nav{
    margin:5px 0;
}

