<style type="text/css">
    .blog-title{
        font-size:30px;
        line-height:1.5;
        font-weight:bold;
    }
    .blog-info{
        line-height:1.8;
        color: #9d9d9d;
        font-size:15px;
    }
    .blog-info .label{
        opacity:0.8;
    }
    .blog-content{
        padding-top:15px;
        font-size:15px;
        line-height:1.5;
    }
</style>
{% extends 'article/base.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% block title %}
    {{ post.title }}
{% endblock %}
{% block left %}
<h1 class="blog-title">{{ post.title }}</h1>
<div class="blog-info">
    <span>发布于 {{ post.pub_time }}</span>
    <span class="far fa-eye"> 0</span>
    <span>- {{ post.views }} 浏览</span>
    <label class="label label-info">{{ post.category }}</label>
    <!--<label class="label label-info">{{ post.tags }}</label>-->
</div>
<div class="blog-content">
    {{ post.body|safe }}
</div>
    <div>
        <h3>Reviews</h3>
        <a class="btn_1 add_bottom_15" href="#" data-toggle="modal" data-target="#myReview">Leave a review</a>
    </div>
    <div class="review_strip_single">
        <img class="img-circle" alt="" src="{% static 'post/img/sh.ico' %}">
        <small>- 10 March 2015 -</small>
        <h4>Jhon Doe</h4>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus."</p>
    </div>

<!--<form id="comment_form" action="{% url 'comment:comment' %}" method="POST" style="overflow:hidden">-->
    <!--{% csrf_token %}-->
    <!--{{ comment_form.media }}-->
    <!--{% for field in comment_form %}-->
        <!--{{ field }}-->
    <!--{% endfor %}-->
    <!--<span id="comment_error" class="text-danger pull-left"></span>-->
    <!--<input type="submit" value="发布" class="btn btn-primary">-->
<!--</form>-->

<!--<div class="comment-area">-->
    <!--{% recursetree comments %}-->
        <!--{% with comment=node %}-->
            <!--<div class="unit root-comment">-->
                <!--<header class="comment">-->
                    <!--<span class="text-small text-muted comment-user-name">{{ comment.user }}</span>-->
                    <!--{% if comment.reply_to %}-->
                        <!--<i aria-hidden="true" class="fa fa-share"></i>-->
                        <!--<span class="text-small text-muted comment-user-name">-->
                            <!--{{ comment.reply_to }}-->
                        <!--</span>-->
                    <!--{% endif %}-->
                <!--</header>-->
                <!--<div class="comment-body">{{ comment.content }}</div>-->
                <!--<footer class="comment-footer flex-left">-->
                    <!--<span class="text-small text-muted comment-date">-->
                        <!--{{ comment.created_time|date:"Y-m-d H:i" }}-->
                    <!--</span>-->
                    <!--{% if user.is_authenticated %}-->
                        <!--<a class="text-small text-muted btn-reply reply_to">回复</a>-->
                    <!--{% else %}-->
                        <!--<a class="text-small text-muted btn-reply" href="">回复</a>-->
                    <!--{% endif %}-->
                <!--</footer>-->
                <!--{% if not node.is_leaf_node %}-->
                    <!--<div class="comment-descendants">-->
                        <!--{{ children }}-->
                    <!--</div>-->
                <!--{% endif %}-->
            <!--</div>-->
        <!--{% endwith %}-->
    <!--{% endrecursetree %}-->
<!--</div>-->
{% endblock %}