{% load blog_tags %}
<ul class="list-group">
    <li class="list-group-item active">最热文章</li>
    {% get_host_posts as post_list %}
    {% for post in post_list %}
        <a class="list-group-item" href="{{ post.get_absolute_url }}" target="_blank">{{ post.title }}</a>
    {% endfor %}
</ul>
<ul class="list-group">
    <li class="list-group-item active">归档</li>
    {% archives as date_list %}
    {% for date in date_list %}
        <a class="list-group-item" href="{% url 'post:archives' date.year date.month %}">{{ date.year }} 年 {{ date.month }} 月</a>
    {% endfor %}
</ul>
<ul class="list-group">
    <li class="list-group-item active">分类</li>
    {% get_categories as category_list %}
    {% for cate in category_list %}
        <a class="list-group-item" href="{% url 'post:category' cate.id %}">{{ cate.name }} ({{ cate.num_posts }})</a>
    {% endfor %}
</ul>
<ul class="list-group">
    <li class="list-group-item active">标签云</li>
    {% get_tags as tag_list %}
    {% for tag in tag_list %}
        <a class="list-group-item" href="{% url 'post:tag' tag.id %}">{{ tag.name }} ({{ tag.num_posts }})</a>
    {% endfor %}
</ul>